html {
  background: #141414;
}
.box1 {
  grid-column: 1 / 6;
}
.navbar {
  grid-row: 1/1;
  padding: 10px;
  color: white;
  text-align: left;
}
nav img {
  display: flex;
  float: left;
  width: 150px;
}
nav a {
  display: flex;
  margin-top: 30px;
  padding: 15px;
  float: left;
}

.box2 {
  grid-column: 1 / 6;
  color: #e5e5e5;
  font-weight: 700;
}

.box {
  padding: 10px;
  color: white;
  text-align: left;
}
.box img {
  width: 350px;
  border-radius: 1vh;
}

.container {
  height: 100vh;
  display: grid;
  font-weight: bold;
  font-size: x-large;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 2fr 2fr 5fr 2fr 5fr 2fr 5fr 2fr 5fr;
  grid-gap: 10px;
}
.derecha {
  float: right;
}
